{% extends 'base.html' %}
{% block content %}
    {% load static %}

    <div class="container mt-5" xmlns="http://www.w3.org/1999/html">
        <div class="row">
            <div class="col-sm-4">
                <center><h1>UNIVERSE</h1></center>
                <div class="container mt-3">
                    <h2>สิ่งที่ชอบหรือสนใจ</h2>
                    <p>UNIVERSE</p>
                    <div class="card" style="width:300px">
                        <img class="card-img-top" src="{% static 'images/19136.jpg' %}" alt="Card image"
                             style="width:100%">
                        <div class="card-body">
                            <h5><p class="text-dark">อวกาศ</p></h5>
                            <p class="text-dark">บริเวณที่อยู่ไกลออกไปจากโลกจากดวงดาวทั้งหลาย
                                อวกาศเป็นที่อยู่ของดาวเคราะห์และดาวฤกษ์ อวกาศหลาย ๆ อวกาศรวมกันเป็นจักรวาล
                                นักวิทยาศาสตร์หลายต่อหลายคนเชื่อว่า
                                จักรวาลเกิดขึ้นจากการระเบิดครั้งรุนแรงที่เรียกว่า บิก แบงค์ (big bang) เมื่อ 14
                                ล้านล้านปีมาแล้ว</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-8">
                <center><h1 style=>อวกาศ</h1></center>
                <center><h3 style=>เรื่องราวการค้นพบใหม่ 2022</h3></center>
                <div class="container mt-3">
                    <div class="card" style="width:700px">
                        <img class="card-img-top" src="{% static 'images/1.png' %}" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h5><p class="text-dark">1. ดาวเคราะห์น้อยโอมูอามูอายังน่าสงสัยว่าเป็นยานต่างดาว</p></h5>
                            <p class="text-dark">ดาวเคราะห์น้อยประหลาดโอมูอามูอา (Oumuamua)
                                ยังคงเป็นปริศนาที่นักดาราศาสตร์ถกเถียงกันไม่จบสิ้นว่ามันคืออะไรกันแน่
                                ล่าสุดนักวิจัยจากมหาวิทยาลัยฮาร์วาร์ดและสถาบัน KASI ของเกาหลีใต้เผยผลการศึกษาที่ชี้ว่า
                                ยังคงมีความเป็นไปได้ที่โอมูอามูอาอาจเป็นสิ่งประดิษฐ์ที่สร้างขึ้นด้วยเทคโนโลยีต่างดาว
                                แม้ก่อนหน้านี้จะมีงานวิจัยที่สันนิษฐานว่ามันเป็นเพียงแท่งไฮโดรเจนแข็งธรรมดาเท่านั้น
                                นักวิทยาศาสตร์บางกลุ่มเชื่อว่า การระเหิดเป็นไอทำให้เกิดก๊าซไฮโดรเจนบริสุทธิ์
                                ซึ่งขับเคลื่อนโอมูอามูอาให้พุ่งทะยานได้อย่างรวดเร็วผิดปกติ
                                ทั้งยังเร่งความเร็วขึ้นได้เองในบางช่วงด้วย แต่ทีมวิจัยของฮาร์วาร์ดมองว่า
                                หากโอมูอามูอาเป็นเพียงดาวเคราะห์น้อยที่มีองค์ประกอบหลักเป็นไฮโดรเจนแข็งแล้ว
                                มันก็น่าจะสลายตัวไปจนหมดก่อนหน้านี้ ระหว่างการเดินทางที่แสนไกลมาจากนอกระบบสุริยะ</p>

                            <h5><p class="text-dark">2. เราอาจได้พบสิ่งมีชีวิตในชั้นบรรยากาศของดาวศุกร์</p></h5>
                            <img class="card-img-top" src="{% static 'images/s.jpg' %}" alt="Card image"
                                 style="width:100%">
                            <p class="text-dark">วงการชีวดาราศาสตร์ค้นพบเรื่องที่น่าตื่นเต้น
                                เมื่อทีมนักวิจัยนานาชาติตรวจพบร่องรอยของก๊าซฟอสฟีน (Phosphine)
                                ซึ่งอาจเป็นเครื่องหมายบ่งบอกว่ามีสิ่งมีชีวิตอยู่ในชั้นบรรยากาศของดาวศุกร์
                                โดยพบที่ความสูง 50 กิโลเมตรเหนือพื้นผิวดาว ในอัตราความเข้มข้นราว 10-20
                                ส่วนในพันล้านส่วนของบรรยากาศ
                                ก๊าซฟอสฟีนมีความเกี่ยวข้องกับสิ่งมีชีวิตบนโลก
                                อย่างเช่นจุลินทรีย์ที่อาศัยอยู่ในลำไส้ของสัตว์ต่าง ๆ
                                และบรรดาจุลชีพซึ่งอาศัยอยู่ในสภาพแวดล้อมที่มีออกซิเจนต่ำเช่นตามหนองบึง
                                ประเด็นนี้ทำให้นักวิทยาศาสตร์มีความหวังว่า
                                เราอาจได้พบจุลินทรีย์ที่มีกลไกการดำรงชีวิตคล้ายกันในกลุ่มเมฆของดาวศุกร์บ้าง</p>

                            <h5><p class="text-dark">3. มนุษย์มีเพื่อนร่วมกาแล็กซีที่สื่อสารกันได้อย่างน้อย 36
                                อารยธรรม</p></h5>
                            <img class="card-img-top" src="{% static 'images/2.png' %}" alt="Card image"
                                 style="width:100%">
                            <p class="text-dark">ทีมนักฟิสิกส์ดาราศาสตร์จากมหาวิทยาลัยนอตติงแฮมของสหราชอาณาจักร
                                คิดค้นวิธีคำนวณหาขอบเขตความเป็นไปได้ที่จะมีเอเลียนทรงภูมิปัญญาซึ่งสามารถติดต่อสื่อสารกับมนุษย์อยู่ในกาแล็กซีทางช้างเผือก
                                โดยผลการคำนวณปรากฏว่า อาจมีอารยธรรมต่างดาวในระดับสูงทัดเทียมกับเราอยู่อย่างน้อยถึง 36
                                อารยธรรมเลยทีเดียว
                                สมมติฐานในการคำนวณดังกล่าวตั้งอยู่บนหลักการที่ว่า
                                สิ่งมีชีวิตทรงภูมิปัญญาสามารถจะเกิดขึ้นได้บนดาวทุกดวงที่มีสภาพคล้ายโลก
                                และเมื่อเวลาผ่านไปราว 4.5 - 5.5 พันล้านปีหลังดาวเคราะห์นั้นก่อตัวขึ้น
                                จนมันมีอายุเก่าแก่เท่ากับโลก วิวัฒนาการจะนำสิ่งมีชีวิตต่างดาวนั้นมาสู่อารยธรรมขั้นสูง
                                จนสามารถติดต่อสื่อสารข้ามห้วงอวกาศได้เช่นเดียวกับมนุษย์หรือก้าวหน้ายิ่งกว่า</p>

                            <h5><p class="text-dark">4. สัญญาณประหลาดจากดาวฤกษ์นอกระบบสุริยะที่อยู่ใกล้เรามากที่สุด</p>
                            </h5>
                            <img class="card-img-top" src="{% static 'images/d.png' %}" alt="Card image"
                                 style="width:100%">
                            <p class="text-dark">โครงการค้นหาสิ่งมีชีวิตทรงภูมิปัญญาต่างดาวหรือเซติ
                                (SETI)กำลังตรวจสอบที่มาของสัญญาณวิทยุประหลาด BLC1จากนอกระบบสุริยะ
                                โดยมีความเป็นไปได้ว่ามันคือสัญญาณจากเทคโนโลยีของเอเลียน
                                ที่อาศัยอยู่บนดาวเคราะห์บริวารดวงใดดวงหนึ่งของ "พร็อกซิมา เซนทอรี"
                                ดาวฤกษ์เพื่อนบ้านที่อยู่ใกล้กับระบบสุริยะของเรามากที่สุด
                                ผลการตรวจสอบเบื้องต้นชี้ว่า สัญญาณนี้ไม่ได้มาจากดาวเทียมหรือเทคโนโลยีที่มนุษย์สร้างขึ้น
                                และมีความเคลื่อนไหวในลักษณะที่สอดคล้องกับการโคจรของดาวเคราะห์อีกด้วย
                                ทำให้น่าสงสัยว่าอาจเป็นสัญญาณที่ส่งมาจากพื้นผิวของดาวเคราะห์พร็อกซิมา บี (Proxima b)
                                บริวารของพร็อกซิมา เซนทอรี
                                ที่เคยเชื่อกันว่ามีสภาพเอื้อต่อการดำรงอยู่ของสิ่งมีชีวิตมากที่สุด</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}