{% load static %}
<br>
<ul class="list-group">
    <li class="list-group-item active">Manu:</li>
    <li><a href="{% url 'home' %}" class="list-group-item list-group-item-active">Home/ประวัติส่วนตัว</a></li>
    <li><a href="{% url 'edu' %}" class="list-group-item list-group-item-active">Education/ประวัติการศึกษา</a></li>
    <li><a href="{% url 'interests' %}" class="list-group-item list-group-item-active">Interests/สิ่งที่สนใจ</a></li>
    <li><a href="{% url 'product' %}" class="list-group-item list-group-item-active">Product/สินค้า</a></li>
    <li><a href="{% url 'rolemodel' %}" class="list-group-item list-group-item-active">Role Model/บุคคลต้นแบบ</a></li>

</ul>
</br>