{% extends 'base.html' %}
{% block content %}
    {% load static %}

    <div class="container-fluid mt-3">
        <div class="row">
            <h3>หนังสือการ์ตูน / มังงะ / Manga</h3>
            <div class="col-4 bg-secondary">
                <div class="container mt-3">
                    <div class="card" style="width:300px">
                        <img class="card-img-top" src="{% static 'images/ah.jpg' %}" alt="Card image"
                             style="width:100%">
                        <div class="card-body">
                            <h5><p class="text-dark">ผ่าพิภพไททัน : Attack on Titan</p></h5>
                            <center>
                                <h5><p class="text-dark">ราคา 81/เล่ม</p></h5>
                            </center>
                            <center><a href="#" class="btn btn-primary">Pick up</a></center>

                            <br><img class="card-img-top" src="{% static 'images/1000_.jpg' %}" alt="Card image"
                                     style="width:100%">
                            <center>
                                <h5><p class="text-dark">ขังดวลแข้ง BLUELOCK</p></h5>
                            </center>
                            <center>
                                <h5><p class="text-dark">ราคา 90/เล่ม</p></h5>
                            </center>
                            <center><a href="#" class="btn btn-primary">Pick up</a></center>

                            <p class="text-dark"></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-4 bg-secondary">
                <div class="container mt-3">
                    <div class="card" style="width:300px">
                        <img class="card-img-top" src="{% static 'images/dr.png' %}" alt="Card image"
                             style="width:100%">
                        <div class="card-body">
                            <center>
                                <h5><p class="text-dark">DR.STONE Our Stone World</p></h5>
                            </center>
                            <center>
                                <h5><p class="text-dark">ราคา 63/เล่ม</p></h5>
                            </center>
                            <center><a href="#" class="btn btn-primary">Pick up</a></center>

                            <br><img class="card-img-top" src="{% static 'images/One_Piece.jpg' %}" alt="Card image"
                                     style="width:100%">
                            <center>
                                <h5><p class="text-dark">วัน พีซ - One Piece เล่ม</p></h5>
                            </center>
                            <center>
                                <h5><p class="text-dark">ราคา 125/เล่ม</p></h5>
                            </center>
                            <center><a href="#" class="btn btn-primary">Pick up</a></center>
                            <p class="text-dark"></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-4 bg-secondary">
                <div class="container mt-3">
                    <div class="card" style="width:300px">
                        <img class="card-img-top" src="{% static 'images/ch.png' %}" alt="Card image"
                             style="width:100%">
                        <div class="card-body">
                            <center>
                                <h5><p class="text-dark">Chain saw man</p></h5>
                            </center>
                            <center>
                                <h5><p class="text-dark">ราคา 63/เล่ม</p></h5>
                            </center>
                            <center><a href="#" class="btn btn-primary">Pick up</a></center>

                            <br><img class="card-img-top" src="{% static 'images/ju_.jpg' %}" alt="Card image"
                                     style="width:100%">
                            <center>
                                <h5><p class="text-dark">Jujutsu kaisen-มหาเวทย์ผนึกมาร</p></h5>
                                <center>
                                    <center>
                                        <h5><p class="text-dark">ราคา 72/เล่ม</p></h5>
                                    </center>
                                    <center><a href="#" class="btn btn-primary">Pick up</a></center>
                                    <p class="text-dark"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}