{% extends 'base.html' %}
{% block content %}
    {% load static %}

    <div class="container mt-4">
        <div class="row">
            <div class="col-sm-4">
                <h2>Role Model</h2>
                <div class="card" style="width:350px">
                    <img class="card-img-top" src="{% static 'images/9.png' %}" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title text-dark">9ARM</h4>
                        <p class="card-text text-dark">9arm หรือ นายอาร์ม ครีเอเตอร์สายสตรีมทาง YouTube และ Twitch TV
                            ทุกวันเสาร์ 4
                            ทุ่มครึ่ง ที่เปี่ยมไปด้วยคอนเทนต์สายไอที และอัปเดตเทคโนโลยีจากเรื่องยากให้กลายเป็นเรื่องง่าย
                            ด้วยบรรยากาศการพูดคุยผ่านกล้องที่เป็นกันเอง</p>
                        <a href="https://www.youtube.com/@9arm." class="list-group-item list-group-item-active">YOUTUBE
                            9ARM</a></li>
                    </div>
                </div>
            </div>

            <div class="col-sm-8">
                <h2>9ARM นายอาร์ม</h2>
                <div class="card">
                    <center>
                        <div class="card-body text-dark">
                            <h5>
                                <iframe width="650" height="315" src="https://www.youtube.com/embed/fPE1FKmY2Wo"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                        allowfullscreen></iframe>
                            </h5>
                        </div>
                    </center>
                    <div class="card-body text-dark">จุดเริ่มต้นของช่อง 9arm เริ่มมาจากการรีวิวเกมเมื่อปี 2011 – 2012
                        เพราะความชอบของอาร์มเอง แต่พอได้ย้ายมาเรียนต่างประเทศชีวิตนักแคสต์เกมก็เปลี่ยนไป
                        เพราะมีเวลาเตรียมตัวน้อยเนื่องจากเรียนหนักขึ้น
                        ดังนั้นนี่จึงกลายเป็นช่วงเวลาที่ความเนิร์ดไอทีของตัวเองได้เผยสู่โลกโซเชียล
                        เพราะเน้นการพูดคุยถึงเรื่องเทคโนโลยีที่กำลังเป็นที่สนใจในสังคม
                        และพยายามจะทำให้เรื่องยากกลายเป็นเรื่องง่าย ด้วยการสรุปเรื่องไอที
                        และเทคโนโลยีตามความเข้าใจของตัวเองให้ผู้ติดตามได้รับรู้
                    </div>
                </div>


                <br>
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body text-dark"><h5>9arm เติบโตได้ทุกวันนี้ ก็เพราะกลุ่มหลังบ้านนายอาร์ม </h5>
                        </div>
                        <div class="card-body text-dark">หลังบ้านนายอาร์มเป็นคอมมูนิตี้ที่ค่อยๆ เติบโตไปด้วยกัน
                            และเป็นแหล่งหาไอเดียชั้นดีมีคุณภาพในการทำคอนเทนต์ให้กับช่อง 9arm ด้วย
                            เพราะเสียงสะท้อนจากคนในคอมมูนิตี้นี้ทำให้เกิดการสร้างสรรค์คอนเทนต์ลงคลิป
                            หรือเกิดการตั้งคำถามจนต้องเอาไปรีเสิร์ชเพื่อมานั่งไลฟ์สตรีมเพื่อจะได้แชร์มุมมองกันมากขึ้น
                            โดย 9arm จะเน้นไปที่การสตรีมมิง และสามารถดูย้อนหลังได้ที่ช่อง YouTube
                            ซึ่งการรักษาคอมมูนิตี้ให้อยู่กับครีเอเตอร์ไปนาน ๆ นั้น ขึ้นอยู่กับการรู้จักกลุ่มเป้าหมาย
                            และแพลตฟอร์มที่เหมาะสมกับคอนเทนต์ของตัวเอง
                            เพื่อที่ฐานแฟนหรือผู้ติดตามจะได้มีคอมมูนิตี้ที่แข็งแรง
                        </div>
                    </div>
                </div>
                <br>
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body text-dark"><h5>ก้าวต่อไปของ 9arm
                            แค่อยากเติบโตไปพร้อมกับหลังบ้านนายอาร์ม</h5></div>
                        <div class="card-body text-dark">ช่อง 9arm ในตอนนี้เดินทางมาไกลกว่าที่คิดไว้มาก
                            ดังนั้นสิ่งที่จะโฟกัสเป็นหลักในก้าวต่อไปคือคอนเทนต์ในช่อง และเก็บเกี่ยวโอกาสที่เข้ามา
                            โดยที่ไม่มีเป้าหมายชัดเจนว่าจะเติบโตต่อไปอีกอย่างไร
                            เพราะเรื่องการย้ายแพลตฟอร์มไม่ใช่ปัจจัยหลักที่นึกถึงในตอนนี้
                            แต่สิ่งที่อยากทำคือการหาคนมาร่วมทีมเพิ่มในอนาคต ไม่ว่าจะเป็น Creative หรือ Content Editor
                            ก็ตาม มีภาพที่จะทำเป็นบริษัทของ 9arm แบบเป็นรูปเป็นร่าง และพร้อมที่จะจัดจ้างคนได้
                            นอกจากการสตรีมในช่องอย่างที่ทำอยู่ในปัจจุบัน
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}